<footer class="footer">
  <ul>
    <li>
      <form method="POST" action="/search" id="search-bar">
        <input type="search" placeholder="Search for herbs" name="search">
        <button type="submit">Search</button>
      </form>
    </li>

    <li class="advanced">
      <a href="javascript:void(0);" class="query-icon" onclick="toggleQuery()">
        <span>Advanced search</span><i class="fa fa-chevron-up"></i>
      </a>
    </li>
  </ul>

  <div id="query-box">
    <form method="POST" action="/search/query" id="query-form">
      <label for="water">Waterdependancy: <span id="water_val">0</span></label>
      <select class="query" id="water" name="water">
        <option value=""></option>
        <option value="low">low</option>
        <option value="medium">medium</option>
        <option value="high">high</option>
        <option value="very high">very high</option>
      </select>

      <label for="light">Lightconditions: <span id="light_val">0</span></label>
      <select class="query" id="light" name="light">
        <option value=""></option>
        <option value="low">low</option>
        <option value="medium">medium</option>
        <option value="high">high</option>
        <option value="very high">very high</option>
      </select>
      
      <button type="submit">Search</button>
    </form>
  </div>

</footer>

{{> modal}}