<footer class="footer">
  <ul>
    {{!-- <li><a href="/member/favorites">Favorites</a></li> --}}
    <form method="POST" action="/search">
      <input type="search" placeholder="Search for herbs" name="search">
      <button type="submit">Search</button>
    </form>
  </ul>
</div>

{{> modal}}