<footer class="footer">
  <ul>
    {{!-- <li><a href="/member/favorites">Favorites</a></li> --}}
    <form>
    <input type="search" placeholder="Sarch for herbs" name="search">
    <button>Search</button>
    </form>
  </ul>
</div>

{{> modal}}