{{#each herbs}}
  
    <div class="herb-container" style="background-image: url('{{this.image}}')">
    <a href="/herb/{{this._id}}"><h3>{{this.commonName}}</h3></a>
    <h4 class="sub-title">{{this.latinName}}</h4>
    </div>
  
{{/each}}
