<header class="header">
<div class="inner">
  <div class="logo">
    <a href="/"><img src="/images/logo-green.png" alt="Logo"></a>
  </div>

  <ul>
    {{#if user }}
        <li>
          <a href="/member/profile">{{user.username}}</a>
        </li>
        <li>
          <a href="javascript:void(0);" class="hamburger-icon" onclick="toggleBurger()">
            <i class="fa fa-bars"></i>
          </a>
        </li>
    {{else}}
        <li><a href="/member/login">Login</a></li>
    {{/if}}
  </ul>
</div>


  <div id="hamburger-box">
    <a href="/member/favorites">Favorites</a>
    <a href="/member/myherbs">My Herbs</a>
    <a href="/member/myherbs/create" class="strong">Submit a herb</a>
    <a href="/member/logout">Logout</a>
  </div>
</header>


