<header class="header">

  <div class="logo">
    <a href="/"><img src="../images/logo-green.png" alt="Logo"></a>
  </div>

  <ul>
    <li><a href="/member/signup">Sign up</a></li>
    <li><a href="/member/login">Login</a></li>
    <li><a href="/member/logout">Logout</a></li>
  </ul>

  <div id="hamburger-box">
    <a href="/member/profile">Profile</a>
    <a href="/member/favorites">Favorites</a>
    <a href="/member/logout">Logout</a>
  </div>

  <a href="javascript:void(0);" class="hamburger-icon" onclick="toggleBurger()">
    <i class="fa fa-bars"></i>
  </a>



</header>

