{{> headerImg headline="Eat healthy, live green, SAVE THE PLANET! (and eat bacon on Sundays..) " img="../images/back3.jpg"}}

<p class="center">Morbi finibus, purus in euismod sodales, purus arcu aliquet odio, sed aliquam leo lectus vitae nunc. Quisque sed nisl et ipsum aliquet fringilla. Ut at facilisis erat. Maecenas non leo ut odio tincidunt scelerisque.</p>
<div class="wrapper">
<div class="herbs-wrapper">
  {{> herbs}}
</div>
</div>
