{{> headerImg headline="Eat healthy, live green, get inspired, SAVE THE PLANET! " img="../images/back4.jpg"}}

<p class="center">Morbi finibus, purus in euismod sodales, purus arcu aliquet odio, sed aliquam leo lectus vitae nunc. Quisque sed nisl et ipsum aliquet fringilla. Ut at facilisis erat. Maecenas non leo ut odio tincidunt scelerisque.</p>
<div class="wrapper">
<div class="herbs-wrapper">
  {{> herbs}}
</div>
</div>
