{{> headerImgFront 
headline="Eat healthy, live green, save the planet!" 
paragraph="With HerbDB you can read, like, and sumbit herbs to our growing database. " img="/images/back6.jpg" }}

<p class="center">Morbi finibus, purus in euismod sodales, purus arcu aliquet odio, sed aliquam leo lectus vitae nunc. Quisque sed nisl et ipsum aliquet fringilla. Ut at facilisis erat. Maecenas non leo ut odio tincidunt scelerisque.</p>
<div class="wrapper">
<div class="herbs-wrapper">
  {{> herbs}}
</div>
</div>
