<h1>Thymus vulgaris</h1>
<h2 class="sub-title">Timian</h2>

<p>Thyme (/taɪm/) is any member of the genus Thymus of aromatic perennial evergreen herbs in the mint family Lamiaceae. Thymes are relatives of the oregano genus Origanum. They have culinary, medicinal, and ornamental uses, the species most commonly cultivated and used for culinary purposes being Thymus vulgaris.</p>
<div class="all-herbs-wrapper">
  {{> herbs}}
</div>

