<form method="POST" >
  <label action="/login" >Email:</label>
  <input type="email" placeholder="Your email" name="username"></input>

  <label>Password</label>
  <input type="password" placeholder="Your password" name="password"></input>

  <button type="submit">Log in</button>
</form>