<h1>Login</h1>
<p>With {{title}} you get the best herbs. Phasellus eu mauris convallis lorem cursus maximus. Curabitur porta justo eu dui maximus, quis porta purus accumsan. Suspendisse bibendum enim at varius tristique. Vestibulum ut tristique nisl. Suspendisse non sagittis nisi. Proin nulla ipsum, volutpat quis dolor et, consequat iaculis mi.</p>
<form method="POST" >
  <div class="flex-item">
  <label action="/login">Email:</label>
  <input type="email" placeholder="Your email" name="username" id="username"></input>

  <label>Password:</label>
  <input type="password" placeholder="Your password" name="password"></input>
  </div>

  <div class="flex-item">
  <button type="submit">Log in</button>
  </div>
</form>

<h3>   Dont`t have an account yet?  <a href="/member/signup">Sign up</a></h3>

<script>
  document.getElementById("username").addEventListener("blur", function(event) {

  }) 
</script>