<h3>Add a herb to our collection</h3>
<form action="/member/myherbs/create" method="POST">

  <div class="flex-item">
    <input type="text" placeholder="Common Name" name="commonName" id="commonName"></input>
    <input type="text" placeholder="Latin Name" name="latinName" id="latinName"></input>
    <input type="url" placeholder="Image-url" name="imageUrl" id="imageUrl"></input>
  </div>
  
  <div class="flex-item">
    <textarea rows="6" cols="60" type="text" placeholder="Give a short description" name="description" id="description"></textarea>
  </div>

  <div class="flex-item">
    <p>Requirements</p>
    <label for="waterNeed">Water</label>
    <select name="waterNeed" id="waterNeed">
      <option value="-"></option>
      <option value="very low">low</option>
      <option value="medium">medium</option>
      <option value="high">high</option>
      <option value="very high">very high</option>
    </select>

    <label for="lightNeed">Light</label>
    <select name="lightNeed" id="lightNeed">
      <option value="-"></option>
      <option value="low">low</option>
      <option value="medium">medium</option>
      <option value="high">high</option>
      <option value="very high">very high</option>
    </select>

    <label for="temperatureMin">Minimal Temperature</label>
    <input type="number" name="temperatureMin" id="temperatureMin"></input>
    <label for="temperatureMax">Maximal Temperature</label>
    <input type="number" name="temperatureMax" id="temperatureMax"></input>
    <label for="temperatureOptimal">Optimal Temperature</label>
    <input type="number" name="temperatureOptimal" id="temperatureOptimal"></input>
  </div>

  <div class="flex-item">
    <p>Growing Season</p>
    <label for="seasonStart">From:</label>
    <input type="number" name="seasonStart" id="seasonStart"></input>
    <label for="seasonEnd">To:</label>
    <input type="number" name="seasonEnd" id="seasonEnd"></input>
    <button>Submit</button>
  </div>

  
</form>