{{> headerImg headline="Hi, Herbmaister" img="../images/back1.jpg"}}

<div class="wrapper">
  <h4>Username: {{user.username}}</h4>
<p>With {{title}} you can find, create and store your favorite herbs.
  Our aim is to create the best database for herbs, bigly! So, buckle up and 
  drive trough the world of herbs.  
</p>

</div>