{{> headerImg headline="Hi, Herbmeister" img="/images/back1.jpg"}}

<div class="wrapper">
  <h4>Username: {{user.username}}</h4>
<p>More Information about your profile will be added in future update. Stay tuned!  
</p>

{{!-- <a href="/member/favorites"><h3>See your favorites</h3></a>
<a href="/member/myherbs"><h3>Checkout all your herbs</h3></a>
<a href="/member/myherbs/create"><h3>Submit herb</h3></a>
<a href="/"><h3>Browse herbs</h3></a> --}}

</div>