<h1>Welcome {{username}}</h1>

<script>

const getBreeds = () => {
  try {
    return axios.get('{{host}}:{{port}}/member/profile')
  } catch (error) {
    console.error(error)
  }
}

getBreeds();

</script>