{{> headerImg headline="Hi, Herbmeister" img="/images/back1.jpg"}}

<div class="wrapper">
  <h4>Username: {{user.username}}</h4>
<p>With {{title}} you can find, create and store your favorite herbs.
  Our aim is to create the best database for herbs, bigly! So, buckle up and 
  drive trough the world of herbs.  
</p>
<a href="/member/favorites"><h3>See your favorites</h3></a>
<a href="/member/myherbs"><h3>Checkout all your herbs</h3></a>
<a href="/member/myherbs/create"><h3>Submit herb</h3></a>
<a href="/"><h3>Browse herbs</h3></a>

</div>