<form action="signup" method="POST" >
  <label>Email:</label>
  <input type="email" placeholder="Your email adress" name="username"></input>

  <label>Password</label>
  <input type="password" placeholder="Choose your super-secret password" name="password"></input>

  <button type="submit">Sign up</button>
</form>