{{> headerImg headline="Sign up" img="/images/back3.jpg"}}
<div class="wrapper">
<p>With {{title}} you get the best herbs. Phasellus eu mauris convallis lorem cursus maximus. Curabitur porta justo eu dui maximus, quis porta purus accumsan. Suspendisse bibendum enim at varius tristique. Vestibulum ut tristique nisl. Suspendisse non sagittis nisi. Proin nulla ipsum, volutpat quis dolor et, consequat iaculis mi.</p>
<form action="signup" method="POST">
  <div class="flex-item">
    <label>Choose your username:</label>
    <input type="email" id="username" name="username" placeholder="Your email adress"></input>

    <label>Choose your password:</label>
    <input type="password" name="password" placeholder="Choose your super-secret password"></input>
  </div>

    <div class="flex-item">
      <button disabled type="submit" id="submit" class="gray">Wohoo, Sign up</button>
    </div>
</form>

</div>

<script>
  document.getElementById("username").addEventListener("blur", function(event) {
    axios.post("{{host}}:{{port}}/member/signup/username", {
      username: event.currentTarget.value
    })
    .then((response)=>{
      if(response.status === 409){
        next();
      } else {
        document.getElementById("submit").disabled = false;
        document.getElementById("submit").className = "success";
      }
    })
    .catch((error)=>{
        message("The username is already taken")
    })
  }) 
</script>