<form action="signup" method="POST">
  <label>Username</label>
  <input type="email" name="username" placeholder="Your email adress"></input>

  <label>Password</label>
  <input type="password" name="password" placeholder="Choose your super-secret password"></input>

  <button type="submit">Sign up</button>
</form>