@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
header {
  position: relative;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem .5rem 1rem .5rem;
  margin: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15); }
  header .logo {
    z-index: 10;
    position: relative;
    padding: .3rem 0 0 1rem; }
    header .logo img {
      width: 100px; }
  header a {
    transition: all 0.2s ease;
    text-decoration: none;
    color: #2d2d2d;
    font-weight: bold;
    font-family: 'georgia', sans-serif; }
    header a:hover {
      color: olive; }
  header ul {
    z-index: 10;
    max-width: 960px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end; }
    header ul li {
      margin: 0rem 1.3rem 0rem 0rem;
      font-size: 1rem; }
  header #hamburger-box {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 60%;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    border-radius: 1px; }
    header #hamburger-box a {
      padding: 20px 16px;
      width: 10%;
      text-align: center;
      text-decoration: none;
      display: block;
      color: #2d2d2d;
      font-size: 1.2rem;
      border-bottom: 1px solid #2d2d2d; }
      header #hamburger-box a:hover {
        color: olive; }
      header #hamburger-box a:last-of-type {
        border: none; }
  header .hamburger-icon {
    z-index: 15; }
    header .hamburger-icon i {
      display: block;
      font-size: 1.9rem;
      line-height: 1rem; }

#app-modal {
  animation: fadeinOut 8s; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  bottom: .5rem;
  right: .5rem;
  width: 90%;
  padding: 1rem; }

.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  color: #73AC6B;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: .5rem;
  text-align: center; }

.close {
  color: #2d2d2d;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

@keyframes fadeinOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

html {
  padding: 0px;
  margin: 0px;
  background: #fff; }

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 16px;
  font-family: "barlow", Helvetica, Arial, sans-serif;
  background: #2d2d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; }

p {
  line-height: 1.5rem; }

.sub-title {
  font-family: 'Kaushan Script', cursive;
  color: olive; }

a {
  color: #73AC6B;
  text-decoration: none;
  transition: all 0.5s ease; }

a:hover {
  color: #467140; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'georgia', sans-serif;
  font-weight: 400; }

.sub-title {
  font-family: 'Kaushan Script', cursive;
  color: yellow; }

input {
  background: white;
  border: 1px solid #f4f4f4;
  border-radius: 3px;
  padding: .5rem .8rem;
  margin: .6rem 0rem; }

button {
  background: #73AC6B;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem .8rem;
  height: 40px;
  border-radius: 3px;
  border: none; }
  button.gray {
    background: gray; }

.center {
  text-align: center; }

.wrapper {
  display: flex;
  flex-direction: column;
  background: #2d2d2d;
  min-height: 100vh;
  padding: 0.5rem 1.5rem;
  margin: .3rem;
  color: #fff;
  text-align: center;
  max-width: 960px; }
  .wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wrapper form .flex-item {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      margin: 1rem;
      width: 100%; }
      .wrapper form .flex-item label {
        align-self: flex-start;
        color: lightgray; }
    .wrapper form input {
      background: white;
      border: 1px solid #f4f4f4;
      border-radius: 3px;
      padding: .5rem .8rem;
      margin: .6rem 0rem; }

.herb-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 1.5rem 0;
  background: white;
  border-radius: 3px;
  color: #2d2d2d;
  text-align: center; }
  .herb-container .herb-image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
    .herb-container .herb-image:before {
      content: '';
      transition: all 0.5s ease;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1; }
      .herb-container .herb-image:before a:hover {
        background: rgba(0, 0, 0, 0); }
    .herb-container .herb-image h2 {
      position: absolute;
      align-self: center;
      top: 1rem;
      font-size: 3rem;
      color: #fff;
      line-height: 1rem;
      z-index: 2; }
    .herb-container .herb-image .sub-title {
      position: absolute;
      align-self: center;
      background-color: #000;
      padding: .3rem;
      bottom: 0;
      z-index: 2; }
  .herb-container .description {
    padding: 1rem; }

footer {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 4;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15); }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0; }

/*# sourceMappingURL=style.css.map */