@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700&display=swap');

$global-padding: .5rem;

body,html {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-family:  "barlow", Helvetica, Arial, sans-serif;
  background: #fafafa;

}



a {
  color: green;
}

.wrapper{
  display: flex;
  flex-direction: column;
  padding: $global-padding;
}


.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
  background: #73AC6B;
  padding: $global-padding;
  margin: 0;
  
  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
  
    li {

    }
  }

}