@import "header";
@import "modal";

@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

// Global Variables
$global-padding: .5rem 1.5rem;
$global-margin: 1.5rem 1.5rem;
$global-width: 960px;
// Colors
$green: #54AF02;
$herbot-white: #f5f5f5;
$dark-gray: #2d2d2d;
$ligt-gray: #f7f7f7;

@mixin for-tablet-up {
  @media (min-width: 700px) { @content; }
}

html{
  padding: 0px;
  margin: 0px;
  background: $ligt-gray;
}
body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 16px;
  font-family: "barlow", Helvetica, Arial, sans-serif;
  background: $ligt-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

p{
  line-height: 1.5rem;
  max-width: $global-width;
}

.sub-title{
  font-family: 'Kaushan Script', cursive;
  color: olive;
}

a {
  color: $green;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover{
  color: darken( $green, 20% );
}

h1, h2, h3, h4, h5, h6{
  font-family: 'georgia', sans-serif;
  font-weight: 400;
  max-width: $global-width;
}

.sub-title {
  font-family: 'Kaushan Script', cursive;
  color: yellow;
}

input{
  background: white;
  border: 1px solid #f4f4f4;
  border-radius: 3px;
  padding: .5rem .8rem;
  margin: .6rem 0rem;
}



button{
  background: $green;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem .8rem;
  height: 40px;
  border-radius: 3px;
  border: none;

  &.gray{
    background: gray;
  }
}

.center{
  text-align: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  background: $ligt-gray;
  padding: 1rem 1rem 5rem 1rem;
  margin: .3rem;
  color: #464646;
  text-align: center;
  max-width: $global-width;

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
      .flex-item{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 1rem;
        width: 100%;

        label{
          align-self: flex-start;
          color: #2d2d2d;
        }
      }

      input{
        background: white;
        border: 1px solid #f4f4f4;
        border-radius: 3px;
        padding: .5rem .8rem;
        margin: .6rem 0rem;
      }
      
  }

}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35vh;
  background-size: cover;
  width: 100vw;
  top: 0;
  margin-bottom: 1rem;

  &.fullscreen{
    width: 100vw;
    height: 88vh;
    
  }

  .hero-text{
    align-self: center;
    line-height: 2.3rem;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 6px rgba(45, 45, 45, 1);
  }
}
// Herbs
.herbs-wrapper{
  display: flex;
  flex-direction: column;

  @include for-tablet-up{    
    flex-direction: row;
    flex-wrap: wrap;
    max-width: $global-width;
    align-items: flex-start;
 }


}

// Container with links
.herb-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 1.5rem 0;
  background: white;
  border-radius: 3px;
  color: #2d2d2d;
  text-align: center;

  @include for-tablet-up{    
    width: 45%;
    margin: 1%;
 }

  
  // Styling single herb container
    &.single{
      display: flex;
      flex-direction: column;
      width: 100%;

      .herb-image{
        height: 35vh;
      }
}



  .description{
    padding: 1rem 2rem;
    line-height: 1.3rem;
  }



  .container-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;



    .flex-item{
    }
    .fa-heart{
      margin-right: 5px;
    }
    a {
      font-weight: bold;
    }
    .favorites{
      color: darkred;
    }

    button{
      background: none;
      color: darkred;
      border: none; 
      text-transform: none;
      font-size: 1rem;
      &:focus{
        outline: none;
      }
      
    }
  }

  .herb-image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;


    &:before{
      content: '';
      transition: all 0.5s ease;
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.4);
      z-index: 1;

      a:hover{
        background: rgba($color: #000000, $alpha: 0);
      }
    }


    h2{
    position: absolute;
    align-self: center;
    top: 1rem;
    // text-shadow: 0px 0px 2px rgba(45, 45, 45, 0.25);
    font-size: 3rem;
    color: #fff;
    z-index: 2;
    }

    .sub-title{
      position: absolute;
      align-self: center;
      background-color: #000;
      padding: .3rem;
      bottom: 0;
      z-index: 2;
    }

  }

}


footer{
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 4;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  background: rgba($color: #fff, $alpha: 1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);

  ul{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
  }
  #query-box {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 49%;
    width: 100%;
    background: rgba($color: #fff, $alpha: 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    z-index: 9;
    border-radius: 1px;

    select {
      display: block;
      color: $green;
      line-height: 1.3;
      padding: .6em 1em .5em .8em;
      width: 100%;
      max-width: 100%; 
      box-sizing: border-box;
      margin: .5rem;
      border: 1px solid $green;
      border-radius: 3px;
      background-color: #fff;
  }


  
    
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .advanced{
    margin-top: 1rem;
    margin-left: 1rem;
    span{
      margin-right: .5rem;
    }
  }
  .query-icon {
    z-index: 15;
    i {
    display: inline;
    margin-top: 1rem;
    font-size: 1.4rem;  
    line-height: 1rem;
  } 

  }
}

